<a href="https://colab.research.google.com/github/dubba1212/AIML/blob/master/Assignment_3(29_05_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1**

In [0]:
#factorial of a number
def fact(i):
  if i==1:
    return i
  else:
    return (i * fact(i-1))
print("the factorial of number is:",fact(5))

the factorial of number is: 120

**2**

In [0]:
#Fibonacci series using recursion
def fb(n):
  if(n<=1):
    return n
  else:
    return fb(n - 2)+fb(n - 1)

m = int(input("enter length of series:"))
print("fibonacci series:")
for m in range(0,m):
  print(fb(m),end=" ")

enter length of series:6
fibonacci series:
0 1 1 2 3 5

**3**

In [0]:
#sum of elements 
m = int(input("enter no of values:"))
n = int(input("enter the value:"))
sum=0
for i in range(0,m+1):
  if(i>=0):
    sum=sum+i
  else:
    break
print("the sum is:",sum)

enter no of values5
enter the value12345
the sum is: 15

**4**

In [0]:
#print even number from list
lst = []
n = int(input("enter no of values:"))
for i in range(0,n):
  a = int(input())
  lst.append(a)
print(lst)
print("the even number is:")
for i in lst:
  if(i%2 == 0):
    print(i,end=" ")

enter no of values:10
1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
the even number is:
2 4 6 8 10

**5**

In [0]:
#smallest from list and print its index
lst = []
n = int(input("enter no of values:"))
for i in range(0,n):
  a = int(input())
  lst.append(a)
print(lst)

print("the smallest:",min(lst))
print("index of smallest number is:",lst.index(min(lst)))

enter no of values:5
12
2
23
54
6
[12, 2, 23, 54, 6]
the smallest: 2
index of smallest number is: 1

**6**

In [0]:
#palindrome or not
n = input("enter the string:")
def pal(n):
  return n == n[::-1]
s=pal(n)
if s:
  print("palindrome")
else:
  print("not a palindrome")

enter the string:dsfghj
not a palindrome

**7**

In [0]:
# no of even or odd numbers
n = int(input("enter no of values"))
even=0
odd=0
for i in range(0,n):
  a = int(input("enter values"))
for i in range(0,a):
  if(i%2==0):
    even+=1
  else:
    odd+=1
print("the even number is:",even)
print("the odd number is:",odd)

enter no of values10
enter values1
enter values2
enter values3
enter values4
enter values5
enter values6
enter values7
enter values8
enter values9
enter values10
the even number is: 5
the odd number is: 5

**8**

In [0]:
#print from 0  to 6 except 3 and 6
print(0)
for i in range(0,6):
  if(i%3==0 or i%6==0):
    continue
  else: 
    print(i)

0
1
2
4
5

**9**

In [0]:
# check give number is prime or not
n = int(input("enter the number:"))
def check(n):
  if(n%2 == 0):
    print("the given number is prime")
  else:
    print("the given number is not a prime")
check(n)

enter the number:12
the given number is prime

**10**

In [0]:
# python function to check whether the given number is adam number or not
n=int(input("enter the number:"))
def adam(n):
  mul=n*n
  rev=str(n)[::-1]
  rev=int(rev)
  revmul=rev*rev
  if(str(mul)==str(revmul)[::-1]):
    return print("adam number")
  else:
    return print("not adam number")

adam(n)

enter the number:11
adam number