<a href="https://colab.research.google.com/github/dubba1212/AIML/blob/master/Assignment_29_06_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data={'X1':[7,7,3,1],'X2':[7,4,4,4],'Y':["Bad","Bad","Good","Good"]}
data

{'X1': [7, 7, 3, 1], 'X2': [7, 4, 4, 4], 'Y': ['Bad', 'Bad', 'Good', 'Good']}

In [3]:
df=pd.DataFrame(data)
df

   X1  X2     Y
0   7   7   Bad
1   7   4   Bad
2   3   4  Good
3   1   4  Good

In [4]:
x=3
y=7

In [5]:
data1=data['X1']
data2=data['X2']
data1

[7, 7, 3, 1]

In [6]:
data

{'X1': [7, 7, 3, 1], 'X2': [7, 4, 4, 4], 'Y': ['Bad', 'Bad', 'Good', 'Good']}

In [7]:
data3=[]
import math
for i in range(0,len(data1)):
    sq=(x-data1[i])**2 + (y-data2[i])**2
    data3.append(math.sqrt(sq))
data3

[4.0, 5.0, 3.0, 3.605551275463989]

In [8]:
df1=pd.DataFrame(data3,columns=['Distance'])
df1

   Distance
0  4.000000
1  5.000000
2  3.000000
3  3.605551

In [9]:
df2=pd.concat([df,df1],axis=1)
df2

   X1  X2     Y  Distance
0   7   7   Bad  4.000000
1   7   4   Bad  5.000000
2   3   4  Good  3.000000
3   1   4  Good  3.605551

In [10]:
df2.sort_values(by=['Distance'],inplace=True)
df2

   X1  X2     Y  Distance
2   3   4  Good  3.000000
3   1   4  Good  3.605551
0   7   7   Bad  4.000000
1   7   4   Bad  5.000000

In [11]:
df.append({'X1':3,'X2':7,'Y':"Good"},ignore_index=True)

   X1  X2     Y
0   7   7   Bad
1   7   4   Bad
2   3   4  Good
3   1   4  Good
4   3   7  Good



When k=1 from (3,7) point Then (3,4) is the only point i.e., (3,4) is the nearest point for the (3,7) point (3,4) is classified as Good so , we will consider (3,7) also as Good with k=1 If k=3 nearest neighbor, what would be the classification of new paper tissue

    Calculate the distance between the query instance(3,7) and all the training samples.
    Sort the distance and determine nearest neighbor based on k
    Gather the y category of nearest neighbor and that category becomes the predicted class of query instance

In [12]:
data={'X1':[7,7,3,1],'X2':[7,4,4,4],'Y':["Bad","Bad","Good","Good"]}
data

{'X1': [7, 7, 3, 1], 'X2': [7, 4, 4, 4], 'Y': ['Bad', 'Bad', 'Good', 'Good']}

In [13]:
df=pd.DataFrame(data)
df

   X1  X2     Y
0   7   7   Bad
1   7   4   Bad
2   3   4  Good
3   1   4  Good

In [14]:
x=3
y=7

In [15]:
data1=data['X1']
data2=data['X2']
data1

[7, 7, 3, 1]

In [16]:
data2

[7, 4, 4, 4]

In [17]:
data3=[]
import math
for i in range(0,len(data1)):
    sq=(x-data1[i])**2 + (y-data2[i])**2
    data3.append(math.sqrt(sq))
data3

[4.0, 5.0, 3.0, 3.605551275463989]

In [18]:
df1=pd.DataFrame(data3,columns=['Distance'])
df1

   Distance
0  4.000000
1  5.000000
2  3.000000
3  3.605551

In [19]:
df2=pd.concat([df,df1],axis=1)
df2

   X1  X2     Y  Distance
0   7   7   Bad  4.000000
1   7   4   Bad  5.000000
2   3   4  Good  3.000000
3   1   4  Good  3.605551

In [20]:
df2.sort_values(by=['Distance'],inplace=True)
df2

   X1  X2     Y  Distance
2   3   4  Good  3.000000
3   1   4  Good  3.605551
0   7   7   Bad  4.000000
1   7   4   Bad  5.000000

In [21]:
df.append({'X1':3,'X2':7,'Y':"Good"},ignore_index=True)

   X1  X2     Y
0   7   7   Bad
1   7   4   Bad
2   3   4  Good
3   1   4  Good
4   3   7  Good



When k=3 from (3,7) point

Then (3,4),(1,4) and (7,7) are the point nearest to (3,7)

(3,4) is classified as Good

(1,4) is classified as Good

(7,7) is classified as Bad

Here the majority of Y for the above points is Good so, the new point (3,7) is classified as Good with k=3