<a href="https://colab.research.google.com/github/dubba1212/AIML/blob/master/assignment_1(27_05_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1**

In [0]:
#pattern
n = int(input("enter n values"))
i=1
while i<=n:
  print("* " *i)
  i+=1

enter n values5
*
* *
* * *
* * * *
* * * * *

**2**

In [0]:
#multiplication table
n = int(input("enter n value"))
i=1
while i<=10:
  print(n," x ",i,"=",n*i)
  i+=1

enter n value7
7  x  1 = 7
7  x  2 = 14
7  x  3 = 21
7  x  4 = 28
7  x  5 = 35
7  x  6 = 42
7  x  7 = 49
7  x  8 = 56
7  x  9 = 63
7  x  10 = 70

**3**

In [0]:
#Roots of quadratic equaction 
import cmath
a = int(input("enter a value"))
b = int(input("enter b value"))
c = int(input("enter c value"))
d = (b*b)- (4*a*c)
x = (-b+cmath.sqrt(d))/(2*a)
x1 = (-b-cmath.sqrt(d))/(2*a)
print(x)
print(x1)

enter a value2
enter b value3
enter c value6
(-0.75+1.5612494995995996j)
(-0.75-1.5612494995995996j)

**5**

In [0]:
#Fibonacci series
a=0
b=1 
c=0
n = int(input("enter n value"))
i=1
while i<=n:
  print(c,end=" ")
  i+=1
  a=b
  b=c
  c=a+b

enter n value10
0 1 1 2 3 5 8 13 21 34

**4**

In [0]:
#convert decimal number to binary
num = int(input("enter number to convert decimal number to binary "))
res=[]
while num>0:
  k=num%2
  res.append(k)
  num=int(num/2)
for x in range(len(res)-1,-1,-1):
  print(int(res[x]),end=" ")

enter number to convert decimal number to binary 1999
1 1 1 1 1 0 0 1 1 1 1