<a href="https://colab.research.google.com/github/dubba1212/AIML/blob/master/Assignment_15(12_06_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 7:
 
Input string : "xyz:750,abc:265,qwerty:195"
Output string : abc

For digits:
1. find the reverse of the number and add it to the original number
2. if that sum is not palindrome,again add its reverse to that sum
3. Find the palindrome numbers for each number in the string by repeating the above step
4. Find the maximum palindrome number among all and its original number
5. And return the alphabetic code of that palindrome number as output

In [0]:
s = input()
list1 = s.split(",")
list2 = [i.split(":")[1]for i in list1]
list3 = []
for num in list2:#num=;750
  n = int(num)#n=750
  rev = num[::-1]#rev=57
  while str(n)!=rev:
    n+=int(rev)
    rev = str(n)[::-1]
  list3.append(n)
list1[list3.index(max(list3))].split(":")[0]

xyz:750,abc:265,qwerty:195

'abc'

Question 8:
The groups_per_user function receives a dictionary.which contains group names with the list of users.Users can belong to multiple groups.Return a dictionary with the users as keys and a list of their groups as values.

Input : {"local":["admin","userA"],"public":["admin","userB"],"administrator":["admin"]}

Output :
 {'admin': ['local', 'public', 'administrator'],
 'userA': ['local'],
 'userB': ['public']}

In [32]:
def groups_per_user(group_dictionary):
    user_groups = {}
    for group in group_dictionary:
        for user in group_dictionary[group]:
            if user not in user_groups:
                user_groups[user] = []
            if group not in user_groups[user]:
                user_groups[user].append(group)
    return user_groups

mylist = {"local": ["admin", "userA"],
          "public":  ["admin", "userB"],
          "administrator": ["admin"] }

print(groups_per_user(mylist))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

##Question 9:
Input : london 40000 12,chicago 60000 20,munich 50000 15,paris 70000 5
Output : paris munich

City                population      no.of hospitals

London    40000        12

Chicago     60000         20

Munich     50000         15

Paris         70000         5

In [31]:
s=input()
s1=s.split(',')
print(s1)
a={}
b={}
al=[]
bl=[]
for i in s1:
    a1=list(i.split())
    a[a1[0]]=int(a1[1])
    b[a1[0]]=int(a1[2])
a1 = sorted(a.items(), key=lambda x: x[1],reverse=True)
b1 = sorted(b.items(), key=lambda x: x[1])
for i in a1:
    al.append(i[0])
for i in b1:
    bl.append(i[0])
for i in range(0,len(a1)):
    if(al[i]==bl[i]):
        print(al[i],end=" ")

london 40000 12,chicago 60000 20,munich 50000 15,paris 70000 5
['london 40000 12', 'chicago 60000 20', 'munich 50000 15', 'paris 70000 5']
paris munich

###Question 10:
Jug Filling Problem
Problem statement: “Given two empty jugs with 3 and 5 liter capacities and a full jug with 8 liters, find a sequence of pours leaving four liters in the two largest jugs.”

In [30]:
capacity = (8,5,3)
x = capacity[0]
y = capacity[1]
z = capacity[2]
memory = {}
ans = []

def get_all_states(state):
  a = state[0]
  b = state[1]
  c = state[2]

  if(a==4 and b==4):
      ans.append(state)
      return True

  if((a,b,c) in memory):
      return False

  memory[(a,b,c)] = 1
  if(a>0):
      if(a+b<=y):
          if( get_all_states((0,a+b,c)) ):
              ans.append(state)
              return True
      else:
          if( get_all_states((a-(y-b), y, c)) ):
              ans.append(state)
              return True
      if(a+c<=z):
          if( get_all_states((0,b,a+c)) ):
              ans.append(state)
              return True
      else:
          if( get_all_states((a-(z-c), b, z)) ):
              ans.append(state)
              return True
  if(b>0):
      if(a+b<=x):
          if( get_all_states((a+b, 0, c)) ):
              ans.append(state)
              return True
      else:
          if( get_all_states((x, b-(x-a), c)) ):
              ans.append(state)
              return True
      if(b+c<=z):
          if( get_all_states((a, 0, b+c)) ):
              ans.append(state)
              return True
      else:
          if( get_all_states((a, b-(z-c), z)) ):
              ans.append(state)
              return True
  if(c>0):
      if(a+c<=x):
          if( get_all_states((a+c, b, 0)) ):
              ans.append(state)
              return True
      else:
          if( get_all_states((x, b, c-(x-a))) ):
              ans.append(state)
              return True
      if(b+c<=y):
          if( get_all_states((a, b+c, 0)) ):
              ans.append(state)
              return True
      else:
          if( get_all_states((a, y, c-(y-b))) ):
              ans.append(state)
              return True

  return False

initial_state = (8,0,0)
get_all_states(initial_state)
ans.reverse()
print(ans)
print(len(ans))

[(8, 0, 0), (3, 5, 0), (0, 5, 3), (5, 0, 3), (5, 3, 0), (2, 3, 3), (2, 5, 1), (7, 0, 1), (7, 1, 0), (4, 1, 3), (4, 4, 0)]
11

###Question 11:
Input:
user_id = [1,1,2,3,3,4,4,4,5,5]
ancestry=["England","Ireland","France","Germany","Poland","England","France","Germany","France","Germany"]

If my required countries are France and Germany
required = ['France', 'Germany']

Output:
4
5

In [29]:
user_id = [1,1,2,3,3,4,4,4,5,5]
user = list(set(user_id))
ancestry=["England","Ireland","France","Germany","Poland","England","France","Germany","France","Germany"]
r={}
for i in range(0,len(user_id)):
    if(user_id[i] not in r.keys()):
        r[user_id[i]]=[]
        r[user_id[i]].append(ancestry[i])
    else:
        r[user_id[i]].append(ancestry[i])
required=['France','Germany']
for i in range(0,len(user)):
    if(set(required).issubset(set(r[user[i]]))):
        print(user[i])

4
5