<a href="https://colab.research.google.com/github/dubba1212/AIML/blob/master/DAY_37(7_07_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/sumathi16/Datasets/master/titanic.csv")
df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [6]:
# Creating a new column Family in the dataset  by adding SibSp column and Parch column
df['Family'] = df['SibSp'] + df['Parch']
df.head(2)

   PassengerId  Survived  Pclass  ... Cabin Embarked  Family
0            1         0       3  ...   NaN        S       1
1            2         1       1  ...   C85        C       1

[2 rows x 13 columns]

In [7]:
# Ticket--> As it is just a random number, we can skip this column from our analysis
df.drop('Ticket',axis=1,inplace=True)

In [8]:
## Imputing with missing values
df.isnull().mean().sort_values(ascending=False)

Cabin          0.771044
Age            0.198653
Embarked       0.002245
Family         0.000000
Fare           0.000000
Parch          0.000000
SibSp          0.000000
Gender         0.000000
Name           0.000000
Pclass         0.000000
Survived       0.000000
PassengerId    0.000000
dtype: float64

In [9]:
# Removing Cabin column because 77% are missing value
df.drop('Cabin',axis=1,inplace=True)

In [10]:
# Median---> sorting in the order (middle value) NaN in the age column should be substituted with median of age
df.Age.fillna(df.Age.median(), inplace=True)
df.Age.isnull().sum()

0

In [11]:
## Imputing the Embarked Column---> Mode Imputation
df.Embarked.fillna(df.Embarked.mode()[0], inplace=True)
df.Embarked.isnull().sum()

0

In [12]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Gender         0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
Family         0
dtype: int64

In [13]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Gender          object
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked        object
Family           int64
dtype: object

In [14]:
## Remove passenger ID
df.drop('PassengerId',axis=1,inplace=True)

In [15]:
df.drop('Name',axis=1,inplace=True)

In [16]:
df.nunique()

Survived      2
Pclass        3
Gender        2
Age          88
SibSp         7
Parch         7
Fare        248
Embarked      3
Family        9
dtype: int64

In [17]:
## Seperating the Input and Output Data, dropping the Survived column from the data
X = df.drop('Survived', axis=1)
X.shape

(891, 8)

In [18]:
X= pd.get_dummies(X)
X.shape

(891, 11)

In [19]:
## Output Column
y = df.iloc[:,0]
y.shape

(891,)

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=23) 
                                                        # random_state = to select the constant rows

In [21]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(668, 11)
(223, 11)
(668,)
(223,)

In [22]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression() # creating an object for Logistic Regression
log_reg.fit(X_train, y_train)
y_train_pred = log_reg.predict(X_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [23]:
## accuracy_score---> With help of this metric, we can evaluate the overall 
## performance of the model
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_train_pred)

0.8098802395209581

In [24]:
#importing the packages
from sklearn.ensemble import AdaBoostClassifier
#instace creation
adc = AdaBoostClassifier()
#train the model
adc.fit(X_train,y_train)
#predication
y_pred =  adc.predict(X_test)

In [25]:
accuracy_score(y_pred,y_test)

0.8071748878923767

In [26]:
accuracy_score(y_train,adc.predict(X_train))

0.8413173652694611

In [27]:
adc

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)

In [33]:
#importing the packages
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import  LogisticRegression
#instace creation
adc = AdaBoostClassifier(learning_rate=0.5,n_estimators=1)
#train the model
adc.fit(X_train,y_train)
#predication
y_pred =  adc.predict(X_test)
print("test accuray",accuracy_score(y_pred,y_test))
print("train accuray",accuracy_score(y_train,adc.predict(X_train)))

test accuray 0.7982062780269058
train accuray 0.7829341317365269

In [35]:
#importing the packages
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import  LogisticRegression
#instace creation
adc = AdaBoostClassifier(base_estimator=LogisticRegression())
#train the model
adc.fit(X_train,y_train)
#predication
y_pred =  adc.predict(X_test)
print("test accuray",accuracy_score(y_pred,y_test))
print("train accuray",accuracy_score(y_train,adc.predict(X_train)))

test accuray 0.7623318385650224
train accuray 0.8068862275449101

In [37]:
#import the algo
from sklearn.ensemble import GradientBoostingClassifier
gdc = GradientBoostingClassifier()
gdc.fit(X_train,y_train)
#predication
y_pred = gdc.predict(X_test)
print("test accuray",accuracy_score(y_pred,y_test))
print("train accuray",accuracy_score(y_train,gdc.predict(X_train)))

test accuray 0.8026905829596412
train accuray 0.905688622754491

In [38]:
#import the algo
from sklearn.ensemble import GradientBoostingClassifier
gdc = GradientBoostingClassifier(learning_rate=1.0)
gdc.fit(X_train,y_train)
y_pred = gdc.predict(X_test)
print("test accuray",accuracy_score(y_pred,y_test))
print("train accuray",accuracy_score(y_train,gdc.predict(X_train)))

test accuray 0.8116591928251121
train accuray 0.9835329341317365

In [40]:
import xgboost as xgb
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
#predication
preds = xgb.predict(X_test)
print("test accuray",accuracy_score(preds,y_test))
print("train accuray",accuracy_score(y_train,xgb.predict(X_train)))

test accuray 0.7982062780269058
train accuray 0.8832335329341318