<a href="https://colab.research.google.com/github/dubba1212/AIML/blob/master/Day_3(28_05_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Strings:s 
1. " " or ' '(characters) -->'a'
2. immutable -->we cannot changes
3. collection of character enclosed by quotation marks -->iterable object

In [0]:
s1 = input("enter the string")
s2 = 'dubba srikanth'
print(type(s1),type(s2))

enter the stringreddy
<class 'str'> <class 'str'>

In [0]:
# operator:- +,*(repitition),[](slice),[start:stop](slice range)
print(s2+s1)
print(s1*3)
print(s1[3])#to select a character
print(s1[-1])
print(s2[4:10])

dubba srikanthreddy
reddyreddyreddy
d
y
a srik

In [0]:
print(s1[:])

reddy

In [0]:
#alternative character of string
print(s1[::2])

rdy

In [0]:
#Accept a string from a user and check whether it is palindrome or not
a1=input("enter the string ")
if a1==a1[::-1]:
  print("string is palindrom")
else:
  print("string is not a palindrome")

enter the string madam
it is palindrom

In [0]:
a=int(input("enter the string "))
if str(a)==str(a)[::-1]:
  print("the number is palindrom")
else:
  print("the number is not a palindrome")

enter the string 121
the number is palindrom

In [0]:
a2 = "royal"
print("al" in a2)
print("dd" in a2)
print("al" not in a2)
print("dd" not in a2)

True
False
False
True

###Built in functions
1. len()
2. max()
3. min()
4. str()

In [0]:
x = "hello"
x1 = "asdfg123"
print(len(x))
print(max(x))
print(min(x))
print(min(x1))
print(str(x))

5
o
e
1
hello

In [0]:
ord('a')

97

###Bulit in methods:
1. capitalize()
2. isalpha() -->return true if string is character
3. isalnum()  --> return true if it has digit or character
4. isdigit() -->return true if its has numbers only
5. upper() -->convert lower to upper
6. lower() 
7. swapcase()
8. replace() -->replace old character with new character

In [0]:
q = "dubba"
print(len(q))#function name(object name)
print(q.capitalize())#object name.method name()

5
Dubba

In [0]:
q1 = "dubba"
q2 = "asd123"
q3 = "1212"
print(q1.isalpha())
print(q2.isdigit())
print(q3.isalnum())
print(q2.isalpha())
print(q3.isdigit())
print(q2.isalnum())
print(q1.isalnum())
print(q1.isdigit())

True
False
True
False
True
True
True
False

In [0]:
a1 = "dubba"
a2 ="DUBBA"
print(a1.isupper())
print(a2.isupper())
print(a1.islower())
print(a2.islower())

False
True
True
False

In [0]:
q1 ="srikanth"
q2 ="SRIKANTH"
q3 ="AsDfG"
print(q1.upper())
print(q2.swapcase())
print(q2.lower())
print(q3.swapcase())

SRIKANTH
srikanth
srikanth
aSdFg

In [0]:
a = "asd asd asd asd as asd ghjg hjhtf asd"
a.count("asd")

6

In [0]:
#spilt --> return value in theform of list
a = "asd asd asd asd as asd ghjg hjhtf asd"
a.split()
a1 = "a,s,d,f,"
print(a1.split(","))

['a', 's', 'd', 'f', '']

In [0]:
#replace 
s ="dubba"
s = s.replace('b','d')
print(s)

dudda

In [0]:
#accept a number(n) from the user and remove nth position
#n=3
s = int(input("enter position "))
n = input("enter string  ")
n = n.replace(n[s-1],"",1)
print(n)

enter position3
enter stringabcabc
ababc

###for loop
1. for loop with range() function
    for variable_name in rang(start,stop,step):
2. for loop with iterable object

In [0]:
#print 1-n numbers
n=10
for i in range(1,n+1):
  print(i,end=" ")
print()

1 2 3 4 5 6 7 8 9 10

In [0]:
s = "dubba"
for i in s:
  print(i)

d
u
b
b
a

In [0]:
s="dubba"
i=0
while i<len(s):
  print(s[i])
  i+=1

d
u
b
b
a

In [0]:
s = "dubba"
a=len(s)
for i in range(11):
  print(s[i])

u
b
b
a

IndexError: ignored

Equal