<a href="https://colab.research.google.com/github/dubba1212/AIML/blob/master/DAY_15(11_06_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
data = {"Student ID":[416,375,400,211,312],
"Communication":[7,6,5,8,9],
"Placed":["Yes","No","No","Yes","Yes"]}

placement_data  =  pd.DataFrame(data)
placement_data

   Student ID  Communication Placed
0         416              7    Yes
1         375              6     No
2         400              5     No
3         211              8    Yes
4         312              9    Yes

Q1. how to write the logic you mentioned

- Thecommunication score should be grater than 6

In [3]:
placement_data['Communication']>6

0     True
1    False
2    False
3     True
4     True
Name: Communication, dtype: bool

In [0]:
st = [331,6]
def placement_predication(st):
  if st[1]>6:
    return "YES"
  else:
    return "NO"

In [9]:
placement_predication(st)

'NO'

In [10]:
placement_predication([45,3,6])

'NO'

##Machine Learning
###Algorithm.model
- Decision tree classifier
- avialble DTC

Decision tree classifier
- fit(features,target)/fit(input,output)
  - communication
  - placed
  
  features -2d array
  
  palced -1d array
-predict

In [14]:
placement_data['Communication'].shape

(5,)

In [17]:
placement_data[['Communication','Placed']]

   Communication Placed
0              7    Yes
1              6     No
2              5     No
3              8    Yes
4              9    Yes

In [18]:
placement_data[['Communication']]

   Communication
0              7
1              6
2              5
3              8
4              9

In [19]:
import sklearn #machine learning algo
from sklearn.tree import DecisionTreeClassifier # decision tree classifier
dtc = DecisionTreeClassifier()
#training the model
dtc.fit(placement_data[['Communication']],placement_data['Placed'])
#after you run above line you will get trained model in dtc

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [21]:
dtc.predict(placement_data[['Communication']])

array(['Yes', 'No', 'No', 'Yes', 'Yes'], dtype=object)

In [22]:
placement_data['Placed']

0    Yes
1     No
2     No
3    Yes
4    Yes
Name: Placed, dtype: object

In [23]:
dtc.predict([[8]])

array(['Yes'], dtype=object)

In [24]:
dtc.predict([[8],[7.5],[3.4]])

array(['Yes', 'Yes', 'No'], dtype=object)

###Labeleda and Unlabeled data
- labeled means alog with placed column
- unlabeled without placed colum

In [26]:
data3 = {"Student ID":[416,375,400,211],
         "Internal Marks":[25,30,18,15],
         "No of Hours Study":[2,1,2,3],
         "Marks":[76.5,87,59,53.5]}
marks_data2 = pd.DataFrame(data3)
marks_data2

   Student ID  Internal Marks  No of Hours Study  Marks
0         416              25                  2   76.5
1         375              30                  1   87.0
2         400              18                  2   59.0
3         211              15                  3   53.5

In [28]:
marks_data2.iloc[:,1:3]

   Internal Marks  No of Hours Study
0              25                  2
1              30                  1
2              18                  2
3              15                  3

In [31]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
#training the model with two features
lr.fit(marks_data2.iloc[:,1:3],marks_data2['Marks'])
#After this cell in variable is you have trained model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

###y=m1x1+m2x2+c
predict m1,m2,c
- y-marks
- x1-internal marks
- x2-no.of hours study

In [32]:
lr.coef_

array([2.5, 2. ])

In [35]:
lr.intercept_

10.0

In [36]:
lr.predict(marks_data2.iloc[:,1:3])

array([76.5, 87. , 59. , 53.5])

In [39]:
marks_data2['Marks']

0    76.5
1    87.0
2    59.0
3    53.5
Name: Marks, dtype: float64

###pratice questions
Q1:

In [42]:
def L(x):
  return x[1:]+x[0]
def R(x):
  return x[-1]+x[0:len(x)-1]
n = int(input())
list1 = [input() for i in range(n)]
for x in list1:
    print("YES") if L(x)==R(x) else print("NO")

4
a
aa
abcd
aaaa
YES
YES
NO
YES