<a href="https://colab.research.google.com/github/dubba1212/AIML/blob/master/Day_4(29_05_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#loop contron statements:break,continue
for i in range(1,11):
  if i%5 == 0:
    break
  else:
    print(i)

1
2
3
4

In [7]:
#loop contron statements:break,continue
for i in range(1,11):
  if i%5 == 0:
    continue
  else:
    print(i)

1
2
3
4
6
7
8
9

write a program to validate username and password given by the user.If the user gives wrong credentials it should ask for username and password again again until the user gives correct details.

In [5]:
#usernam:dubba
#password:reddy123
while True:
 n = input("enter username: ")
 if n == "dubba":
   m=input("enter password: ")
   if m =="reddy123":
     print("login success")
     break
 else:
  continue

enter username: dusa
enter username: dubba
enter password: reddy123
login success

In [0]:
#pass --> for creating empty block
if 12 < 34:
  pass
else:
  print("else")

###Functions:
block of statements
1. predefined(which are already created):
  - len(),max(),str()
2. user-defined(custom function)
    
    syntax:-
    def function_name(parameters) :
    
    statements
    
    return

In [8]:
def name(username):#function definition
  print("hello",username)

name("dubba")#Function calling

hello dubba

In [14]:
def operator(a,b):
  return a+b,a-b,a/b,a*b
print(operator(12,3))
print(operator(24,4))
print(operator(420,210))

(15, 9, 4.0, 36)
(28, 20, 6.0, 96)
(630, 210, 2.0, 88200)

In [13]:
#multiple return values
def operator(a,b):
  return a+b,a-b,a/b,a*b
#unpacking
add,sub,div,mul=operator(12,3)
print(mul)

36

###Different types of Arguments:
1. required positional arguments
2. default argument
3. keyword argument

In [17]:
#required positional argument
def add(a,b):
  return a+b
#print(add(10,20,30)) no output
print(add(10,20))

30

In [15]:
#default argument
def add(a,b=100):# default always at the end of the parameter list
  return a+b
print(add(100))
print(add(200,200))

200
400

In [18]:
#keyword arguments
def add(a,b):
  print("a vale:",a)
  print("b vale:",b)
  return a+b 
add(a=10,b=12)

a vale: 10
b vale: 12

22

In [23]:
a = int(input("enter a value:"))
b = int(input("enter b value:"))
def add(a,b):
  return a+b
add(a,b)

enter a value:12
enter b value:12

24

In [24]:
#variable length arguments
#(120,230,12,234)-->tuple
def add(*a):
  return sum(a)
print(add(12,11))
print(add(1,2,3))
print(add(1))

23
6
1

In [25]:
#variable length arguments
#(120,230,12,234)-->tuple
def add(*a):
  n=2
  for i in a:
    n=n*i
  return n
print(add(12,11))
print(add(1,2,3))
print(add(1))

264
12
2

In [26]:
#nested functions : square,cube
def square(a):
  return a*a
def cube(a):
   return square(a)*a
print(square(10))
print(cube(10))

100
1000


###Recursive functions:
1. Factorial of a number
2. Fibonacci series

###Data structures:
1. list :
  - [ ] elements separated by ,
  - indexed
  - ordered
  - Duplicate values
  - mutable
  - Any type of values

In [27]:
list1 = [1,2,12.5,"ads",1,True]
print(type(list1))

<class 'list'>

In [30]:
#operators supported by list : +,*,[],[:],in,not in
l1 = [1,2,3]
l2 = [11,22,33]
print(l1+l2)#concatenation
print(l1*2)#repitition
print(l1[1])
print(l1[1:2])
print(2 in l1)
print(5 in l1)
print(5  not in l1)

[1, 2, 3, 11, 22, 33]
[1, 2, 3, 1, 2, 3]
2
[2]
True
False
True

In [33]:
#Built in functions: len(),min(),max(),list()
l1 = [1,2,3,12]
s="python"
print(len(l1))
print(max(l1))
print(min(l2))
l2 = list(s)
print(l2)
l1[-1]=100#replace value from list
print(l1)

4
12
h
['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3, 100]