<a href="https://colab.research.google.com/github/dubba1212/AIML/blob/master/DAY_5(30_05_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#adam number using conditional operator:-[on True]if[condition]else{False}
n = int(input("enter a number:"))
print("adam number") if int(str(n**2)[::-1]) == int(str(n)[::-1])**2 else print("not a adam number")

enter a number12
adam number

In [7]:
#lower bound and upper bound
def display(l,u):
  if l>u:
    return
  else:
    print(l,end=" ")
    display(l+1,u)


l=int(input("enter lower:"))
u=int(input("enter upper:"))
display(l,u)

enter lower:1
enter upper:10
1 2 3 4 5 6 7 8 9 10

In [23]:
# fib 0,1,1,2,3,5,8.....
import time
def fact(n):
  if  n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fact(n-1)+fact(n-2)
prev=time.time()
print(fact(10))
print(time.time()-prev)

34
0.0003361701965332031

In [28]:
import time
fact=[0,1]
def facts(n):
  if  n <= len(fact):
    return fact[n-1]
  else:
    fact.append(fact[len(fact)-1]+fact[len(fact)-2])
    return facts(n)
prev=time.time()
print(facts(10))
print(time.time()-prev)

34
0.0006844997406005859

In [33]:
#built-in-functionsd:len()[returns no .of elements of list],min(),max(),list()
l1 = [12,23,34,5,"str",True]
l2 = [34,25,55,45,6,6]
l3 = [1,2,3,4,[11,22,33,44,[12,13,14,15]]]
string = "python"
print("length of list:",len(l1))
print(max(l2))
print(min(l2))
print(list(string))
print(l1[4][1])
print(l3[4][4][0])

length of list: 6
55
6
['p', 'y', 't', 'h', 'o', 'n']
t
12

###Built-in methods:
####adding an element:
1. append()
2. insert()
3. extend()

In [34]:
#append method
l1=[1,2,3,4,5]
# To add at end
l1.append(6)
print(l1)

[1, 2, 3, 4, 5, 6]

In [35]:
#insert method -->insert at the position
l1.insert(2,12)
print(l1)

[1, 2, 12, 3, 4, 5, 6]

In [36]:
#extend:insert multiple values
l1.extend([11,13,14])
print(l1)

[1, 2, 12, 3, 4, 5, 6, 11, 13, 14]

In [38]:
#to remve lat element-->default remove last element
l1.pop()
print(l1)

[1, 2, 3, 4, 5, 6, 11, 13]

In [40]:
#To remove an particular element
l1.remove(13)
print(l1)

[1, 2, 3, 4, 5, 6, 11]

In [42]:
#clear-->remove list
l1.clear()
l1

[]

In [46]:
#index()-->gives elemment index
l=[1,2,3,4,5,6,11,2,3,24,1,2]
print(l.index(3))
print(l.count(2))

2
3

In [48]:
#To sort the list in ascending order
l.sort()
print(l)
#descending order
l.sort(reverse=True)
print(l)

[1, 1, 2, 2, 2, 3, 3, 4, 5, 6, 11, 24]
[24, 11, 6, 5, 4, 3, 3, 2, 2, 2, 1, 1]

In [51]:
# copy method
l1=[1,2,3,4,5]
l2=[]
l3=[]
l2=l1
print(l2)
l3=l1.copy()
print(l3)
l1.append(11)
l2.append(12)
print(l1,l2,l3)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 11, 12] [1, 2, 3, 4, 5, 11, 12] [1, 2, 3, 4, 5]

###file handling:
1. create
2. add text
3. save
4. read
5. appending
6. rename
7. remove

###modes:
1. write(w)   -->if file not available new file will be created, if available file content will be removed and new content added
2. read(r)   -->file must br available
3. append(a) --> file is not available new file is created,add at the end of content
4. new file creation(x)  -->new file is created  if file is nit there

1. open()
2. close()

In [0]:
#write mode
f = open("sample.txt","w")
f.write("dubba srikanth")
f.close()

In [53]:
#read mode
f = open("sample.txt","r")
data = f.read()
print(data)
f.close()

dubba srikanth

In [0]:
#apend mode
f = open("sample.txt","a")
s = '''reddy
hi ,hello ,how r u'''
f.write(s)
f.close()

In [55]:
f = open("sample.txt","r")
data = f.read()
print(data)
f.close()

dubba srikanthreddy
hi ,hello ,how r u